{% load staticfiles %}
<html>
    <head>
        <title>Capooths Golf Site</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>

    <body>
        <div class="page-header">
          <h1><a href="/">Fantasy Golf</a></h1>
        </div>

        <nav class="dropdownmenu">
          <ul>
            <li><a href="http://www.jochaho.com/wordpress/">Home</a></li>
            <li><a href="http://www.jochaho.com/wordpress/about-pritesh-badge/">About Me</a></li>
            <li><a href="#">Articles on HTML5 & CSS3</a>
              <ul id="submenu">
                <li><a href="http://www.jochaho.com/wordpress/difference-between-svg-vs-canvas/">Difference between SVG vs. Canvas</a></li>
                <li><a href="http://www.jochaho.com/wordpress/new-features-in-html5/">New features in HTML5</a></li>
                <li><a href="http://www.jochaho.com/wordpress/creating-links-to-sections-within-a-webpage/">Creating links to sections within a webpage</a></li>
              </ul>
            </li>
            <li><a href="http://www.jochaho.com/wordpress/category/news/">News</a></li>
            <li><a href="http://www.jochaho.com/wordpress/about-pritesh-badge/">Contact Us</a></li>
          </ul>
        </nav>

        <div class="container-fluid no-padding">
          <div class="">
            <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                  {% block content %}
                  {% endblock %}
                </div>
                <div class="col-md-4">
                  {% block welcome %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
